@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.usuario{
  margin-top: 5%;
  color: greenyellow;
  font-family: 'Press Start 2P', cursive;
  justify-content: center;
  text-align: center;
  animation: colorr 20s linear infinite
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

@media (max-width: 700px) {
  .usuario{
    margin-top: 15%;
  }
}


#light {
  background-image: url('../images/rick-and-morty-en-3d_3840x2160_xtrafondos.com.jpg');
  background-size: cover;
  background-position: center;
  
}
  


#dark{
  background-color: rgb(34, 34, 34);
}
