.footer_Div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;   
}
.footer_link{

    font-size: 15px;
    color: darkorchid;
    border-top: 4px solid #6f777227;
    border-bottom: 4px solid #464948;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 5px;

}
.second_div{
    text-align: center;
    padding: 20px;
}