@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body{
    color: aliceblue;
    font-family: 'Press Start 2P', cursive;
    
}

.personDetail{
    display: flex;
    justify-content: center;
    margin: 10%;
}

.personDetail__info{
    margin: 5%;
}

.personDetail__image{
    border-radius: 10%;
}

.Back{
    color: greenyellow;
    text-decoration: none;
    font-size: 15px;
}

@media (max-width: 700px) {

    .personDetail{
       display: block;
      
    } 
    .personDetail__name{
        font-size: 15px;
    }

    .personDetail__status{
        font-size: 15px;
    }

    .personDetail__location{
        font-size: 15px;
    }

    .personDetail__gender{
        font-size: 15px;
    }
}